<div class="container mt-5">
  <div class="panel">
    <div class="header">
      <div class="text-center">
        <h3 class="strong">Welcome to my basic employee creating and managing website</h3>
        <hr>
        <h5 class="mt-3">You can simply create-update and delete employees with a localhost registration and login page</h5>
        <h5>Also you can filter employees about their properties and sorting algorithms works fine too</h5>
        <hr class="row align-items-center justify-content-center col-sm-6 mx-auto">
        <h6>First of all you need to install 'rxjs' for employee database</h6>
        <h6>Secondly, you should update-database and add migrations on your database and use command
          <strong>dotnet watch run</strong> for getting other properties of employees
        </h6>
        <hr>
        <h4 class="mt-5 text-success">Thats all!</h4>
      </div>
    </div>
  </div>
</div>
